<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <header th:insert="fragments :: header"></header>
    <h1>Detail</h1>
    <p th:text="${account.getUsername()}"></p>
    <p th:text="${account.getPassword()}"></p>
    <p th:text="${account.getBalance()}"></p>
    <a th:href="@{/accounts/{username}/edit(username=${account.getUsername()})}">Edit</a>
    <form th:method="delete" th:action="@{/accounts/{username}(username=${account.getUsername()})}">
        <input type="submit" value="Delete">
    </form>
    <a th:href="@{/accounts/}">Accounts List</a>
</body>
</html>