<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <header th:insert="fragments :: header"></header>
    <form th:method="PATCH" th:action="@{/accounts/{username}(username=${account.getUsername()})}" th:object="${account}">

        <label for="username">Username: </label>
        <input type="text" th:field="*{username}" id="username">
        <label for="password">Password: </label>
        <input type="password" th:field="*{password}" id="password">
        <label for="balance">Balance: </label>
        <input type="number" th:field="*{balance}" id="balance">
        <input type="submit" value="Update">
    </form>
</body>
</html>