<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <header th:insert="fragments :: header"></header>
    <form th:method="PATCH" th:action="@{/products/{id}(id=${product.getId()})}" th:object="${product}">
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name">
        <label for="price">Price: </label>
        <input type="number" th:field="*{price}" id="price">
        <label for="quantity">Amount: </label>
        <input type="number" th:field="*{quantity}" id="quantity">
        <input type="submit" value="Update">
    </form>
</body>
</html>